.Login{
    width : 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border : 2px solid gray;
    border-radius: 5px;
    padding: 19px;
} 

.input_form input{
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
}
.input_form button {
    background-color: aqua;
    padding: 0.5rem;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
    font-style: inherit;
}

.password{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap:10px;
}
