.Feed{
   display: flex;
   width: 50%;
   flex-direction: column;
}

.Feed_posting{
    padding: 2rem;
}

.Feed_posting button {
    align-items: end;
}


.Feed_Clicks{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.Feed_items{
    background-color: aliceblue;
}

.FeedList{
  margin: 20px;
  width: 900px;
  background-color: papayawhip;
  padding: 1rem;
}


.Feed_post{
    display: flex;
}

.profile_image img {
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

textarea{
    width: 100%;
    min-height: 50px;
}

.Feed_items{
    list-style-type: none;
}