.Navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 50px;
    height: calc(100vh - 25px);
}

.Navbar_items{
    list-style-type: none;
}

.user_profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 10px;
}