.Search{
    margin-left: 50px;
    position: fixed;
    right: 23px;
    gap: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.follow_people{
    min-height: 230px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 15px;
    gap:25px;
    list-style-type: none;
}

.follow_list{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
  
}

.follow_list img {
    border-radius: 50%;
}